@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

:root{
    --light-skin : #e3c086;
    --dark-skin : #e6aa4a;
    --dark-blue: #031d24;
}

html
{
    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

body{
    font-family: 'Teko', sans-serif;
    
}
nav{
    font-size: 1.5rem;
    color: var(dark-blue);
}


    /* Hiding the checkbox default styling */
    .hamburger-icon input[type="checkbox"] {
      appearance: none;
}


.logo{
    font-size: 1.8rem;
    color: var(--dark-blue);
}
.logo > img{
    width: 50px;

}

.logo button{
    margin-left: auto;
}



.nav-center-button  div, .nav-last-btns div{
    gap: .5rem;
}



.nav-center-button div:hover, .nav-last-btns div:hover{
color: var(--dark-skin);
cursor: pointer;
}

.image-container{
    height: 90vh;
}
.foot-subhead{
    font-size: 1.3rem;
}
.margin-setter{
    margin-bottom: 20rem;
}
.footer{
    background-color: var(--dark-blue);
    color: var(--dark-skin);
    font-size: 2rem;
    font-weight: 200;
    gap: 30%;
    padding: 2rem 0rem 0 0rem;
}

.login-sign-side-image > img{
    width: 400px; 
    /* position: relative;
    left: -75px; */
}

.login-sign-side-image{
    /* width: 500px;
    text-align: center;
    overflow: hidden; */
}

.log-sign-container {
    max-width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
}
.log-sign-form-container > p{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.log-sign-form-container {
    padding: 1rem 4rem 1rem 4rem;
    border: 2px solid var(--dark-blue);
}
/* .log-form div{
    flex-basis: 100%;
} */

.hamburger-icon {
    width: 40px;
    height: 42px;
    border: 1.5px solid var(--dark-blue);
    background-color: unset;
    color: var(--dark-skin);
    border-radius: 4px;
    /* box-sizing: border-box;
    padding-top: .6rem; */
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
  }
  
  nav:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display:none;
  }
  nav:has(.hamburger-icon input[type="checkbox"]:checked)  .navReponsive{
    height: fit-content;
  }

/* Showing the cross icon on checkbox checked state */
  nav:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
    display:inline-block;
    /* padding: 1px        ; */
  }
  .hamburger-icon {
    display: block;
  }

/* Initially hiding the cross icon */
.fa-x{
    display:none;
}

label {
    display: inline-block;
    margin-top: 1rem;
}

.login-signup-btn{
    background-color: var(--dark-blue);
    color: var(--light-skin);
    border: 2px solid var(--dark-skin);
    transition: all .3s ease-in-out;
    padding: .2rem;
    font-weight: 500;
}

.login-signup-btn:hover{
    background-color: var(--dark-skin);
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}

.input-general{
    outline: none;
    /* width: 100%; */
    padding: .2rem;
    padding-left: 2rem;
    border: 2px solid var(--dark-blue);
    border-radius: 1px;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.input-general:focus{
    border: 2px solid var(--dark-skin);
    
}
.icon{
    position: relative;
    top: 1.5rem;
    left: .4rem;
    font-size: 1.1rem;
    color: var(--dark-blue);
    width: min-content;
}
.input-general:focus-within + .icon{
   
    font-size: .9rem;
    color: var(--dark-skin);
}
/* Fetaured An other Cat */

.Category{
    margin-top: 3rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.featured-head{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.tile-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.product-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  
    width: 24rem;
    
    padding: 1rem;
    transition: all .3s ease-in-out;
    font-size: 2.5rem;
}
.product-tile:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.prod-tile1{
    background-image: url("./Products/blazer.jpg") ;
}
.prod-tile2{
    background-image: url("./Products/FSJacket.webp") ;
}
.prod-tile3{
    background-image: url("./Products/DJacket.webp") ;
}
.prod-tile4{
    background-image: url("./Products/CJoggers.webp") ;
}

.C1{
    background-image: url("./Products/BSCASUAL.jpg") ;
}
.C2{
    background-image: url("./Products/formal.jpg") ;
}
.C3{
    background-image: url("./Products/casual.jpg") ;
}

.C4{
    background-image: url("./Products/sports.jpeg") ;
}

.product-img{

    border: 1.5px solid var(--dark-blue);
    
    border-radius: 1px;
    margin-top: 1rem;
    font-size: 2rem;
    background-color: var(--dark-blue);
    color: var(--light-skin);
    height: 26rem;
    width: 100%;
}

.price-tag{
    font-size: x-large;
    color: var(--dark-skin);
}

.back-common{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    transition: all .3s ease-in-out;
}

.cart-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: .1px solid var(--dark-blue);

    border-left: 0;
    border-right: 0;
    transition: all .3s ease-in-out;

}


.cart-prods-cont{
    flex: 3;
    padding: 1rem 2rem 1rem 2rem;
}

.subtotal-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding:  3rem 1rem 3rem 1rem;
    height: max-content;
    flex: 1;
    border: .1px solid var(--dark-blue);
    gap: 2rem;
}

.cart-price{
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--dark-blue);
}

.cart-price span{
    font-weight: 500;
    font-size: 1.5rem;
}

.prod-image{
    height: 8rem;
    width: 8rem;
    margin-left: 2rem;
}

.prod-details-div{
    align-self: flex-start;
    margin-right: auto;
    margin-left: 3rem;
}

.cart-prod-name{
    font-size: 2rem;
    font-weight: 500;
}

.cart-prod-stock{
    margin-top: -2px;
    font-size: 1.2rem;
    font-weight: 300;
    color: green;
}

.cart-prod-category{
    margin-top: -2px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dark-blue);
}

.cart-prod-category span{
    font-weight: 200;
    font-size: 1.3rem;
}

.delete-btn{
    background-color: var(--dark-blue);
    color: var(--light-skin);
    border: .2px solid var(--dark-skin);
    transition: all .3s ease-in-out;
    padding: .2rem .8rem .2rem .8rem;
    font-weight: 200;
    font-size: 1.4rem;
}

.delete-btn:hover{
    cursor: pointer;
    background-color: var(--light-skin);
    color: var(--dark-blue);
    
}

.pay-btn{
    font-weight: 500;
    font-size: 1.5rem;
    width: max-content;
}

#quantity{
    background-color: var(--dark-blue);
    color: var(--dark-skin);
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid var(--dark-blue);
    width: 7rem;
    padding-left: .6rem;
    padding-right: .6rem;
    /* text-align: center; */
}

.checkout-grid{
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    grid-template-areas: 
    'personal order'
    'payment order'
    ;
}
.payment-details{
    grid-area: payment;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    padding: 1.5rem;
}

.payment-details div{
    font-size: 1.7rem;
}

.payment-details div label{
    margin-top: 0;
}
.payment-details div input{
    color: var(--dark-blue);
    margin-right: .6rem;
    font-size: 1.5rem;
}
.personal-details{
    grid-area: personal;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    padding: 1.5rem;
}

.personal-details h3 span {
    font-weight: 200;
}

.order-summary{
    grid-area: order;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    padding: 1rem;
    height: max-content;
}


.item-price p{
    font-size: 1.4rem;
}

.item-price h4{
    font-size: 1.4rem;

    margin-left: auto;
}

.pay-now-btn{
    margin: 0 auto 0 auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .nav-center-button{
        margin-right: auto;
    }
    .nav-center-button , .nav-last-btns{
        gap: 1rem;
    }
    .hamburger-icon{
        display:none;
        border:none;
        background-color:transparent;
    }
    .nav-last-btns{
        margin-top: .2rem;
    }
    .child{
        flex: 1;
      }
  }

  /* for small screen */
  
@media screen and (max-width: 765px) {
    .cart-product{
        flex-direction: column;
    }
    .cart-container{
        flex-direction: column-reverse;

        align-items: center;
    }
    .login-sign-side-image{
        display: none;
    }   
    .navReponsive {
        height: 0;
        overflow: hidden;
        transition: height 1s ease-in;
        display: flex;
        flex-direction: column;
        
    }
    .hamburger-icon{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* width: 100px; */
    }
    .checkout-grid{
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        grid-template-areas: 
        'personal'
        'payment'
        'order'
        ;
    }
        
  }

